1)

In [15]:
import operator  
dict = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}  
print('Actual dictionary : ',list)  
sorted_dict = sorted(dict.items(), key=operator.itemgetter(0))  
print('Dictionary in ascending order by value : ',sorted_dict)  
sorted_dict = sorted(dict.items(), key=operator.itemgetter(0),reverse=True)  
print('Dictionary in descending order by value : ',sorted_dict)

Actual dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value :  [(0, 0), (1, 2), (2, 1), (3, 4), (4, 3)]
Dictionary in descending order by value :  [(4, 3), (3, 4), (2, 1), (1, 2), (0, 0)]

2)

In [18]:
d = {0: 10, 1: 20}
print(d)
key = int(input("Enter a key:"))
value= int(input("Enter value of key:"))
d[key] = value
print(d)

{0: 10, 1: 20}
Enter a key:2
Enter value of key:30
{0: 10, 1: 20, 2: 30}

3)

In [24]:
dict ={}
while(1):
  city = input("Enter name of the city:")
  temp= float(input("Enter temperature:"))
  dict[city] = temp
  c = input("Do you want to continue?(Y/N)")
  if c == 'N':
    break
city = input("Enter city name to search:")
if city in dict.keys():
  print("Temperature of",city,"is:")
  print(dict[city])  
else:
  print("City not found")

Enter name of the city:TVM
Enter temperature:27
Do you want to continue?(Y/N)Y
Enter name of the city:KOLLAM
Enter temperature:29
Do you want to continue?(Y/N)N
Enter city name to search:TVM
Temperature of TVM is:
27.0

4)

In [25]:
test_list = ["Num1", 3, "Num2", 8, "Num3", 10, "Num4", 18, "Num5", 33]
print("The original list : " + str(test_list))
key_list = ["name", "number"]
n = len(test_list)
res = []
for i in range(0, n, 2):
    res.append({key_list[0]: test_list[i], key_list[1] : test_list[i + 1]})
print("The constructed dictionary list : " + str(res))

The original list : ['Num1', 3, 'Num2', 8, 'Num3', 10, 'Num4', 18, 'Num5', 33]
The constructed dictionary list : [{'name': 'Num1', 'number': 3}, {'name': 'Num2', 'number': 8}, {'name': 'Num3', 'number': 10}, {'name': 'Num4', 'number': 18}, {'name': 'Num5', 'number': 33}]

5) i)

In [28]:
info ={}
info['John'] = 14
info['Smith'] = 13
info['Alice'] = 32
info['Daneil'] = 21
print(info)

{'John': 14, 'Smith': 13, 'Alice': 32, 'Daneil': 21}

5) ii)

In [4]:
info ={}
info['John'] = 14
info['Smith'] = 13
info['Alice'] = 32
info['Daneil'] = 21

print("Menu 1.Print 2.Add 3.Remove 4.Query 5.Exit")
f = 1
while(f == 1):
  c = int(input("Enter choice:"))
  if c == 1:
    for k in info.keys():
      print(k,"==>",info[k])
  elif c == 2:
    name = input("Enter employee name:")
    if name in info.keys():
      print("Employee name already present")
    else:
      sal = int(input("Enter salary:"))
      info[name] = sal
      print(info)
  elif c == 3:
    name = input("Enter employee name:")
    if name in info.keys():
      info.pop(name)
      print(info)
    else:
      print("Name not found")
  elif c == 4:
    name = input("Enter employee name:")
    print("Salary of",name,"is",info[name])
  elif c == 5:
    print("Exiting")
    f = 0
  else:
    print("Invalid Input")

Menu 1.Print 2.Add 3.Remove 4.Query 5.Exit
Enter choice:1
John ==> 14
Smith ==> 13
Alice ==> 32
Daneil ==> 21
Enter choice:2
Enter employee name:Sanjay
Enter salary:35
{'John': 14, 'Smith': 13, 'Alice': 32, 'Daneil': 21, 'Sanjay': 35}
Enter choice:3
Enter employee name:Smith
{'John': 14, 'Alice': 32, 'Daneil': 21, 'Sanjay': 35}
Enter choice:4
Enter employee name:John
Salary of John is 14
Enter choice:5
Exiting

SETS

1)Frozen set is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.

In [11]:
number = set([1,2,3])
print("Set is",number)
number.add(4)
print("Updated Set is",number)
number = frozenset(number)
try:
  number.add(5)
  print(number)
except:
  print("Frozen set is immutable")

Set is {1, 2, 3}
Updated Set is {1, 2, 3, 4}
Frozen set is immutable

2)

In [13]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
print("Set1 - Set2 is",set1.difference(set2))
print("Set2 - Set1 is",set2.difference(set1))

Set1 - Set2 is {10, 20, 30}
Set2 - Set1 is {80, 60, 70}